@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nulshock";
  src: url("./fonts/Nulshock Bd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
